<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contador</title>

  <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            line-height: 1.6;
        }
  </style>
</head>

<body>
  <h1>Contador</h1>
  <table border="2">
    <thead>
      <tr>
        <th>Req. Recebidas Totais</th>
        <th>Req. Recebidas Sessão</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{args.reqRecebidas}}</td>
        <td>{{args.sessoes}}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
